<div class="topo">
    <div class="logo"></div>
</div>


<div class="corpo">
    <h1>CADASTRO FINALIZADO</h1>

    <div class="conteudo">            
        
        <p class="anuncio">OBRIGADO POR FAZER PARTE DA SEIKATSU </p>
        <p class="numero-sorteio">Sua senha para o sorteio será enviada em seu e-mail cadastrado na semana do evento ! <br></p>
    </div>

    
</div>

<div class="clear"></div>

<div class="rodape">
    <p>TODOS DIREITOS RESERVADOS ©<span style="float: right;">DESENVOVIDO POR MM TECHNO</span></p>
</div>