<div class="topo">
    <div class="logo"></div>
</div>


<div class="corpo">
    <h1>CADASTRO FINALIZADO</h1>

    <div class="conteudo">            
        
        <p class="anuncio">OBRIGADO POR FAZER PARTE DA SEIKATSU </p>
        <p class="numero-sorteio">{{sorteioId[sorteioId.length - 1].participantes[0].nome}} seu número da sorte é {{sorteioId[sorteioId.length - 1].numeroSorte}} <br>Tire um print dessa tela para salvar seu número !</p>

    </div>

    
</div>

<div class="clear"></div>

<div class="rodape">
    <p>TODOS DIREITOS RESERVADOS ©<span style="float: right;">DESENVOVIDO POR MM TECHNO</span></p>
</div>